@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
a {
  text-decoration: none;
  font-style: italic; }

body {
  font-family: sans-serif;
  color: #222222; }
  @media only screen and (max-width: 960px) {
    body {
      font-size: 125%; } }

h1, h2, h3, h4 {
  font-family: "Titillium Web", serif; }

h2 font {
  size: 45px;
  weight: bold; }

p {
  font-family: "Alegreya Sans", Arial, sans-serif; }

a {
  color: #f37731; }

#header {
  height: 60px;
  background-color: #170a48; }
  #header #main-menu {
    margin-left: 25px; }
    #header #main-menu .menu-list {
      padding-top: 20px !important; }
    #header #main-menu li {
      display: inline; }
    #header #main-menu a {
      color: white; }

#main {
  width: 960px;
  margin: 0 auto; }
  @media only screen and (max-width: 960px) {
    #main {
      width: auto;
      max-width: 960px; } }

.warning-butt {
  background: orange;
  color: #fff; }

footer {
  height: 90px;
  background: #ccf962; }
