@mixin warning{
    background: orange;
    color: #fff;
}

@mixin large-text{
    font{
        size:45px;
        weight:bold;
    }
}

@mixin box-shadow($shadows...){
    box-shadow: $shadows;
}

@mixin rounded($radius){
    border-radius: $radius;
}

@mixin box($radius, $border){
    @include rounded($radius);
    border: $border;
}

@mixin fancy-links{
    a{
        text-decoration: none;
        font-style: italic;
    }
}
