@import "partials/variabels";
@import "partials/mixins";

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");
@include fancy-links;

body{
    font-family: sans-serif;
    color: $text-color;
    @include large-screen{
        font-size: 125%;
    }
}

h1, h2, h3, h4{
    font-family: $headline-font;
}

h2{
    @include large-text;
}

p{
    font-family: $text-font;
}

a{
    color: $link-color;
}

#header{
    @include box-shadow();
    
    height: $header-height;
    background-color: $theme-color;
    #main-menu{
        margin-left: 25px;
        .menu-list{
           padding-top: 20px !important; 
        }
        li{
            display: inline;
        }

        a{
            color: $menu-item-color;
        }
    
    }
    #logo {

    }
}

#main{
    width:$content-width;
    @include large-screen{
        width: auto;
        max-width: $content-width;
    }
    margin: 0 auto;
    #content{

    }
    #sidebar{

    }
}

.warning-butt{
    @include warning;
}

footer{
height: $footer-height;
background: $ternary-color;
}