$text-color:#222222;
$theme-color: #170a48;
$secondary-color:#f37731;
$ternary-color:#ccf962;
$navbar-height:60px;

body{
    font-family: sans-serif;
    color: $text-color;
}

h1, h2, h3, h4{

}

p{

}

a{

}

#header{
    #main-menu{
        height: $navbar-height;
    }
    #logo {

    }
}

#main{
    #content{

    }
    #sidebar{

    }
}

#footer{

}