@mixin tiny-screen(){
    @media only screen and (max-width:320px){
        @content;
    }
}

@mixin small-screen(){
    @media only screen and (max-width:480px){
        @content;
    }
}

@mixin medium-screen(){
    @media only screen and (max-width:680px){
        @content;
    }
}

@mixin large-screen(){
    @media only screen and (max-width:960px){
        @content;
    }
}

@mixin google-font($font){
    $font: unquote($font);
    @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin warning{
    background: orange;
    color: #fff;
}

@mixin large-text{
    font{
        size:45px;
        weight:bold;
    }
}

@mixin box-shadow($shadows...){
    box-shadow: $shadows;
}

@mixin rounded($radius){
    border-radius: $radius;
}

@mixin box($radius, $border){
    @include rounded($radius);
    border: $border;
}

@mixin fancy-links{
    a{
        text-decoration: none;
        font-style: italic;
    }
}
